{% extends "layout_main.html.twig" %}
{% block head_buttons %}
<a class="pull-right btn btn-warning" style="margin: 0 5px;" href="?">Main</a>
{% endblock %}
{% block main_content %}
    {{ form(form) }}
{% endblock %}
